body {
    background-image: url('fondo_hyrule.jpg'); /* Reemplaza con tu imagen de fondo */
    background-size: cover;
    font-family: 'Old Standard TT', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #8B4513; /* Color marrón oscuro */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    color: #8B4513;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #8B4513;
    background: transparent;
}

button {
    background-color: #8B4513;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #693006;
}